__pycache__/
*.pyc
.env
interview_log.csv

build/
dist/

train/
test/
speach/

*.docx
*.pdf

Screenshot*.png
ChatGPT*.png

confusion_matrix.png
emotion_analysis.png
feedback_analysis.png
score_analysis.png
time_analysis.png

GUI8.spec